<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label for="user_name">username:</label>
        <input type="text" id="user_name" name="user_name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">password:</label>
        <input type="password" id="Password" name="password" required>
        <button type="submit">Register</button>
    </form>
</body>
</html>